@inherits LayoutComponentBase
@using Planner.Ui.Pages.SeatingTool.Components

@inject NavigationManager NavManager

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>pLAN</PageTitle>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudImage Src="\img\pLAN Logo.png" Class="h-100"/>
        <MudText Typo="Typo.body2">v0.1.2</MudText>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Outlined.QuestionMark" @onclick="ToggleHelp" Style="@HelpStyle"/>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Style="height: 100%">
        <SeatingHelpComponent Show="_showHelp"/>
        <div class="main-content d-flex flex-column">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        NavManager.LocationChanged += (_, _) => InvokeAsync(StateHasChanged);
    }

    private bool _showHelp;

    private void ToggleHelp()
    {
        _showHelp = !_showHelp;
    }
    
    bool _drawerOpen;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private string HelpStyle => NavManager.Uri.Contains("/Planner") ? "z-index: 99999" : "display: none !important";

}