@inherits LayoutComponentBase
@using Planner.Ui.Pages.SeatingTool.Components

@inject NavigationManager NavManager

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>pLAN</PageTitle>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudStack Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Row="true" Class="w-100">
            <MudNavLink Href="/" Style="width: 10%;">
                <MudText Typo="Typo.h5" Class="ml-3">pLAN</MudText>
            </MudNavLink>
            <MudStack Row="true" Justify="Justify.SpaceEvenly">
                <MudNavLink Href="/Planner" Style="@LinkStyle">zum Planer</MudNavLink>
            </MudStack>
            <MudSpacer/>
            <MudNavLink Href="/Imprint" Style="width: 10%;">Impressum</MudNavLink>
            <MudIconButton Icon="@Icons.Material.Outlined.QuestionMark" @onclick="ToggleHelp" Style="z-index: 99999" Style="@HelpStyle"/>
        </MudStack>
    </MudAppBar>
    <MudMainContent Style="height: 100%">
        <SeatingHelpComponent Show="_showHelp"/>
        <div class="main-content d-flex flex-column">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        NavManager.LocationChanged += (_, _) => InvokeAsync(StateHasChanged);
    }

    private bool _showHelp = false;

    private void ToggleHelp()
    {
        _showHelp = !_showHelp;
    }

    private string LinkStyle => !NavManager.Uri.Contains("/Planner") ? "" : "display: none !important";
    
    private string HelpStyle => NavManager.Uri.Contains("/Planner") ? "" : "display: none !important";

}