@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>pLAN</PageTitle>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3">pLAN</MudText>
        <MudStack Row="true" Justify="Justify.SpaceEvenly">
            <MudNavLink Href="/Planner">zum Planer</MudNavLink>
        </MudStack>
    </MudAppBar>
    <MudMainContent Style="height: 100%">
        <div class="main-content d-flex flex-column">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
}