@page "/Changelog"

<MudStack Class="p-4 h-100">
    <MudStack>
        <MudPaper>
            <MudText Class="p-4" Typo="Typo.h6">Changelog</MudText>
        </MudPaper>
        <MudPaper Class="p-4">
            <MudStack>
                <MudText Typo="Typo.body2">v0.1.4</MudText>
                <MudText>Bugfixes</MudText>
                <MudText Typo="Typo.body2">
                    <ul>
                        <li>- Möglichkeit, einen Beginner und einen Expert Seat zu einem Legend Upgrade zu wandeln</li>
                    </ul>
                </MudText>
            </MudStack>
        </MudPaper>
        <MudPaper Class="p-4">
            <MudStack>
                <MudText Typo="Typo.body2">v0.1.3</MudText>
                <MudText>Bugfixes</MudText>
                <MudText Typo="Typo.body2">
                    <ul>
                        <li>- Nummerierung der Reihen an den Hallenplan der Caggtus angepasst</li>
                    </ul>
                </MudText>
            </MudStack>
        </MudPaper>
        <MudPaper Class="p-4">
            <MudStack>
                <MudText Typo="Typo.body2">v0.1.2</MudText>
                <MudText>Features</MudText>
                <MudText Typo="Typo.body2">
                    <ul>
                        <li>- Designänderungen und Anpassungen</li>
                        <li>- Gruppierung für Clanmember</li>
                    </ul>
                </MudText>
            </MudStack>
        </MudPaper>
        <MudPaper Class="p-4">
            <MudStack>
                <MudText Typo="Typo.body2">v0.1.1</MudText>
                <MudText>Bugfixes</MudText>
                <MudText Typo="Typo.body2">
                    <ul>
                        <li>- Fehler behoben, bei dem geseatete Mitglieder nicht wieder in die Seatingübersicht zurückgeschoben werden konnten.</li>
                        <li>- Fehler behoben, bei dem die Listen im Interface die Buttons verschoben haben.</li>
                    </ul>
                </MudText>
                <MudText>Features</MudText>
                <MudText Typo="Typo.body2">
                    <ul>
                        <li>- Import und Export wurde testweise aktiviert</li>
                    </ul>
                </MudText>
            </MudStack>
        </MudPaper>
    </MudStack>
</MudStack>

@code {



}